.TopBar{
    width: 100%;
    text-align: left;
    position: fixed;
    top:0;
    background: white;
    p{
        padding-left: 15px;
        span{
            padding-left: 15px;
        }
    }
    .PushBack{
        color: #4b8dff; 
    }
}