.InvestLogItem{
    width:100%;
    height: 100px;
    background: white;
    margin-bottom: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #888;
    div{
        text-align: center;
        color: #0077cc;
        .InvestLogMoney{
            color: orange;
        }
        .InvestLogDate{
            color: #888888;
        }
    }
}