#tab-bar.demo {
    display: flex;
    flex-direction: column;
  }
  #tab-bar .demoName {
    height: 40px;
  }
  #tab-bar .demo-preview-item .am-tab-bar {
    background-color: white;
  }

  .icon {  
    width: 1em; height: 1em;  
    vertical-align: -0.15em;  
    fill: currentColor;  
    overflow: hidden;  
 }  

 @font-face {
  font-family: 'iconfont';  /* project id 681192 */
  src: url('//at.alicdn.com/t/font_681192_8jvdkk6486pnl8fr.eot');
  src: url('//at.alicdn.com/t/font_681192_8jvdkk6486pnl8fr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_681192_8jvdkk6486pnl8fr.woff') format('woff'),
  url('//at.alicdn.com/t/font_681192_8jvdkk6486pnl8fr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_681192_8jvdkk6486pnl8fr.svg#iconfont') format('svg');
}
